.col-sm-3
  .thumbnail
    = image_tag current_user.avatar.url(:thumb), class: 'img-responsive user-photo'
.col-sm-9
  .panel
    = form_for [@parent, @comment] do |f|

      - if @comment.errors.any?
        .error_messages
          %h2 Please correct the following errors.
          %ul
          - @comment.errors.full_messages.each do |msg|
            %li= msg

      = f.hidden_field :user_id, value: current_user.id

      .input-group
        = f.text_area :body, placeholder: :body, class: 'form-control', placeholder: 'Add a comment'

        %span.input-group-addon
          = button_tag type: 'submit' do
            %i.fa.fa-edit








