.modal-dialog
  .modal-content
    .modal-header
      .modal-title-book
        %div{style: 'float:left'} Editing
        %div{style: 'float:left; color: #f0ad4e'}= ' "' + @book.title + '" '
        %div{style: 'float:left'} by
        %div{style: 'float:left; color: #f0ad4e'}= @book.author.last_name

    = form_for @book, remote: true, html: { class: 'form-horizontal', style: 'display:inline;' } do |f|
      .modal-body
        %ul.errors
        .control-group
          = f.label 'Title', class: 'control-label'
          = f.text_field :title, class: 'form-control'
        .control-group
          = f.label 'Author'
          = f.collection_select(:author_id, Author.all, :id, :last_name, {}, {class: 'btn btn-default dropdown-toggle form-control'})

        .control-group
          = f.label 'Language'
          = f.collection_select(:language_id, Language.all, :id, :name, {}, {class: 'btn btn-default dropdown-toggle form-control'})

        .control-group
          = f.label 'Year'
          = f.text_field :year, class: 'form-control'

        .control-group
          = f.label 'Change cover picture'
          = f.file_field :cover

      .modal-footer
        = f.submit 'Save', class: 'btn btn-warning'
        = link_to 'Cancel', '', class: 'btn', data: {dismiss: 'modals'}