= form_for @author do |f|
  %div= f.label 'First name'
  %div= f.text_field :first_name, class: 'form-control'

  %div= f.label 'Last name'
  %div= f.text_field :last_name, class: 'form-control'

  %br

  %div= f.submit 'Save', class: 'btn btn-custom btn-lg btn-block'