.container
  .row
    .col-md-12
      .col-md-2.col-md-offset-5
        - if user_signed_in?
          - if @user == current_user
            Hello,
          = @user.name
      %center
        %h1 Books that you have or had previously
      %br
      %table{ class: 'table table-striped table-bordred sortable' }
        %thead
          %tr
            %th Title
            %th Author
            %th{'data-defaultsort'=>'disabled'} Cover
            %th ISBN
            %th Last date
            %th Return date
        %tbody
          - @bookcopiesnow.sort_by(&:last_date).each do |copyuser|
            %tr{style: current_user.must_return_book?(copyuser.book_copy.book) ? 'color:red;' : 'color:green'}
              %td= link_to copyuser.book_copy.book.title, copyuser.book_copy.book
              %td= copyuser.book_copy.book.author.first_name + ' ' + copyuser.book_copy.book.author.last_name
              %td
              %td= copyuser.book_copy.isbn
              %td= copyuser.last_date
              %td= '-'
          - @bookcopiesnotnow.sort_by(&:last_date).each do |copyuser|
            %tr
              %td= link_to copyuser.book_copy.book.title, copyuser.book_copy.book
              %td= copyuser.book_copy.book.author.first_name + ' ' + copyuser.book_copy.book.author.last_name
              %td
              %td= copyuser.book_copy.isbn
              %td= copyuser.last_date
              %td= copyuser.return_date