%section{ id: 'newsubject' }
  .container
    .row
      .col-xs-12
        .form-wrap
          %h1 New book

          = form_for @book do |f|
            %div= f.label 'Title'
            %div= f.text_field :title, class: 'form-control'

            %div= f.label 'Year'
            %div= f.text_field :year, class: 'form-control'

            %div= f.hidden_field :user_id, value: current_user.id
            %br

            %div= f.submit 'Save', class: 'btn btn-custom btn-lg btn-block'