.container
  .col-xs-12.col-sm-9
    .jumbotron
      %h1 MyLibrary
      -#%p This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.

    .row
      - @books.each do |book|
        .col-xs-6.col-lg-4
          %center
            %h2= link_to book.title, book_path(book.id)
            %h4= link_to book.author.first_name + book.author.last_name, author_path(book.author)
            = image_tag book.cover.url(:square), class: 'img-circle'
      %br
      %br

  .col-xs-6.col-sm-3.sidebar-offcanvas
    .row
      %h3 Authors
      %br
      - @authors.each do |author|
        %p= link_to author.first_name + ' ' + author.last_name, author_path(author.id)
    .row
      %h3 Languages:
      %br
      - @languages.each do |l|
        %p= link_to l.name, language_path(l.id)

    .row
      %h3 Search
      = form_tag books_path, class: 'form-inline', method: 'get' do
        .input-group
          = text_field_tag :title, params[:title], placeholder: 'Title', class: 'form-control'
          = text_field_tag :author, params[:ssuthor], placeholder: 'Author', class: 'form-control'
          %br
          = submit_tag 'Search', class: 'btn'

    .row
      %h3 Filter
      = form_tag books_path, class: 'form-inline', method: 'get' do
        .input-group
          - @genres.each do |genre|
            = check_box_tag(name = genre.name, value = genre.id, checked = false, options = {})
            = genre.name
            %br
          = submit_tag 'Filter', class: 'btn'
