%br
.container
  .row
    .col-md-4
      %center= image_tag @book.cover.url(:large)
    .col-md-4
      %h1.text-primary= @book.title
      %h2= 'by '+ @book.author.first_name + ' ' + @book.author.last_name
      %br
      Year:
      = @book.year
      %br
      Language:
      = @book.language.name
      %br
      Number of available copies:
      = BookCopy.where(book_id: @book.id).count

      %br

      - if current_user.moderator?
        %br

        .panel.panel-default
          .panel-heading
            %h3.panel-title Copies
          %ul.list-group
            - @copies.each do |copy|
              %li.list-group-item
                %div{ id: "dropdown-detail-#{copy.id}", class: 'row toggle', 'data-toggle' => "detail-#{copy.id}" }
                  .col-xs-10{style: copy.available ? 'color:green;' : 'color:red;'}
                    = copy.isbn
                  .col-xs-2
                    %i.fa.fa-chevron-down.pull-right
                %div{id: "detail-#{copy.id}"}
                  %hr
                  .container
                    .fluid-row
                      Status now:
                      - if !copy.available
                        not
                      available
                      %br
                      %b History
                      %br
                      - copy.book_copy_users.each do |cu|
                        User:
                        = cu.user.name
                        Return date:
                        = cu.return_date || 'not returned'
                        %br
      - else
        - if !@user_have_book
          = link_to book_copy_take_path(@book.id), method: :put, remote: true do
            .btn.btn-primary
              ='Take it'
        - else
          = link_to book_copy_return_path(@book.id), method: :put, remote: true do
            .btn.btn-danger
              = 'Return ' + @mybook
          - if @days > 0
            %div{style: 'color:red;'}= 'You were late for ' + @days.to_s + ' days'
          - else
            %div{style: 'color:green;'}= 'You have ' + (@days * (-1)).to_s + 'days'

    .col-md-4
      .row
        %center
          %h2 Comments

        - @parent = @book
        = render 'comments/form'

      .row
        %br
        - if @book.comments.empty?
          %center No comments.
        - else
          %ul
            - @book.comments.order('created_at DESC').each do |comment|
              .col-sm-3
                .thumbnail
                  = image_tag comment.user.avatar.url(:thumb), class: 'img-responsive user-photo'
              .col-sm-9
                .panel.panel-default
                  .panel-heading
                    %strong= comment.user.name
                    %span.text-muted{style: 'float:right;'}
                      - t = ( (Time.now - comment.created_at.to_time)/1.day ).to_i
                      - tt = ' days '
                      - if t < 1
                        - t = ( (Time.now - comment.created_at.to_time)/1.hour ).to_i
                        - tt = ' hours '
                        - if t < 1
                          - t = ( (Time.now - comment.created_at.to_time)/1.minute ).to_i
                          - tt = ' minutes '
                      = t.to_s + tt + 'ago'
                  .panel-body
                    = comment.body
                    - if comment.user == current_user
                      %div{style: 'float:right;'}= link_to 'Delete', [@parent, comment], method: :delete